@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

@Layer base {
    .py-navbar-item{
        @apply py-4
    }
    .px-navbar-item{
        @apply px-5
    }
    .cairo-xs-regular{
      @apply text-[10px]
      @apply leading-[18px]
    }
    .cairo-xs-bold{
      @apply text-[10px]
      @apply leading-[18px]
      @apply font-bold
    }
    .cairo-s-regular{
      @apply text-[12px]
      @apply leading-[22px]
    }
    .cairo-s-bold{
      @apply text-[12px]
      @apply leading-[22px]
      @apply font-bold
    }
    .cairo-m-regular{
      @apply text-[14px]
      @apply leading-[24px]
    }
    .cairo-m-bold{
      @apply text-[14px]
      @apply leading-[24px]
      @apply font-bold
    }
    .cairo-l-regular{
      @apply text-[16px]
      @apply leading-[26px]
    }
    .cairo-l-bold{
      @apply text-[16px]
      @apply leading-[26px]
      @apply font-bold
    }
    .cairo-xl-regular{
      @apply text-[18px]
      @apply leading-[28px]
    }
    .cairo-xl-bold{
      @apply text-[18px]
      @apply leading-[28px]
      @apply font-bold
    }
    .heading-s-medium{
      @apply text-[22px]
      @apply leading-[30px]
    }
    .heading-s-bold{
      @apply text-[22px]
      @apply leading-[30px]
      @apply font-bold
    }
    .heading-m-bold{
      @apply text-[28px]
      @apply leading-[36px]
      @apply font-bold
    }
    .heading-m-medium{
      @apply text-[28px]
      @apply leading-[36px]
    }
    .heading-l-bold{
      @apply text-[34px]
      @apply leading-[42px]
      @apply font-bold
    }
    .dispay-bold{
      @apply text-[46px]
      @apply leading-[52px]
      @apply font-bold
    }
    .heading-l-medium{
      @apply text-[34px]
      @apply leading-[42px]
    }
    
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
